.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eef2ff;
}

.card {
  width: 350px;
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.input {
  width: 100%;
  margin-bottom: 15px;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #bbb;
}

.button {
  width: 100%;
  padding: 12px;
  background: #0a3d91;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.error {
  color: #e63946;
  font-size: 13px;
  margin: 4px 0 10px 0;
}

.logo {
  height: 200px;
  width: 100%;
}