.studentcard,
.marklistcard {
  background: white;
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  padding-bottom: 10px;
  border: 1px solid var(--border-blue);
}

.title {
  width: 100%;
  text-align: center;
  background: var(--bg-blue);
  padding: 20px;
  border-radius: 20px 20px 0 0;
}

.cardContent {
  display: flex;
  gap: 20px;
  padding: 16px;
  align-items: center;
  justify-content: space-between;
}

.profile img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.infoBlock {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  font-weight: 600;
}

.markCard {
  width: 75px;
  background: var(--text-blue);
  color: var(--text-white);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  justify-content: center;
}

.line {
  width: 100%;
  height: 1px;
  background-color: var(--text-white);
  margin: 5px 0;
  color: var(--text-white);
}