.container {
  width: 100%;

}

.card {
  background: white;
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  width: 100%;
  text-align: center;
  background: var(--bg-blue);
  padding: 20px;
  border-radius: 20px 20px 0 0;
}

.cardContent {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.profile {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

.profile img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
}

.table {
  width: 100%;
  background: white;
  border-collapse: collapse;
  border-radius: 12px;
  overflow: hidden;
}

.table th {
  padding: 12px;
  text-align: left;
  color: var(--text-blue);
}

.table td {
  padding: 12px;
  border-top: 1px solid #ddd;
}

.cardContent {
  display: flex;
  gap: 20px;
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  align-items: center;
  background-color: #fff;
}

.profile img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.infoBlock {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  font-weight: 600;
}