.container {
  width: 100%;
}

.card {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 12px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

.profile {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

.profile img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
}

.table {
  width: 100%;
  background: white;
  border-collapse: collapse;
  border-radius: 12px;
  overflow: hidden;
}

.table th {
  padding: 12px;
  background: #e7ecff;
  text-align: left;
}

.table td {
  padding: 12px;
  border-top: 1px solid #ddd;
}
