.container {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  background-color: #e8f3ff; /* Light App Blue */
  padding: 20px;
  border-radius: 12px;
}

.image {
  width: 75%;
  margin-bottom: 25px;
}

