.navbar {
    width: 100%;
    height: 3rem;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    padding-top: 10px;
    top: 0;
}

/* LEFT TITLE */
.left {
    font-size: 20px;
    font-weight: 600;
    color: #333;
}

/* RIGHT SIDE */
.right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.datetime {
    font-size: 12px;
    color: #444;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: var(--text-blue);
    color: var(--text-white);
    padding: 2px 10px;
    border-radius: 10px;
    gap:8px
}

/* PROFILE AREA */
.profileWrapper {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Invisible hover area between profile and dropdown */
.profileWrapper::after {
    content: "";
    position: absolute;
    top: 100%;
    /* Immediately below the profile section */
    left: 0;
    width: 100%;
    height: 15px;
    /* Invisible bridge height */
    background: transparent;
}


/* PROFILE IMAGE */
.profileImg {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    transition: 0.2s;
}


/* PROFILE NAME */
.name {
    font-size: 13px;
    color: #333;
    font-weight: 500;
}

/* DROPDOWN MENU (hidden by default) */
.dropdown {
    position: absolute;
    top: 50px;
    right: 0;
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 160px;
    display: none;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12);
    animation: fadeIn 0.2s ease-in-out;
}

/* SHOW DROPDOWN ON HOVER */
.profileWrapper:hover .dropdown {
    display: flex;
}

.dropdown button {
    padding: 10px;
    background: white;
    border: none;
    text-align: left;
    cursor: pointer;
    font-size: 14px;
    color: #333;
    transition: background 0.2s;
}

.dropdown button:hover {
    background: #f5f5f5;
}

.infoColumn {
    display: flex;
    flex-direction: column;
}

.email {
    font-size: 12px;
    color: var(--gray);
}

.icon {
    color: var(--gray);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}