/* ===== Sidebar Container ===== */
.sidebar {
  position: relative;
  /* Needed for arrow */
  height: 100vh;
  background: var(--bg-blue);
  color: white;
  display: flex;
  flex-direction: column;
  transition: width 0.3s ease;
  padding: .75rem;
  overflow: visible;
  border-radius: 0 20px 20px 0;
  /* Allow arrow outside */
}

.open {
  width: 15rem;
}

.closed {
  width: 4rem;
}

/* ===== Logo Section ===== */
.topSection {
  display: flex;
  align-items: center;
  justify-content: start;
}

.open .topSection {
  padding: 0 0.75rem 0.75rem 0;
}

.closed .topSection {
  padding: 0;
}


.bigLogo {
  width: 100%;
  transition: 0.3s;
}

.smallLogo {
  width: 100%;
  transition: 0.3s;
}

/* ===== Arrow Outside Sidebar ===== */
.toggleWrapper {
  position: absolute;
  top: 1.25rem;
  right: 5px;
  transform: translateX(50%);
  /* push arrow half outside */
}

.toggleBtn {
  background: var(--bg-blue);
  border: 1px solid var(--border-blue);
  color: var(--text-blue);
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

}

/* Arrow Rotation */
.arrowOpen {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.arrowClosed {
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}

z.menu {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.menuItem {
  display: flex;
  align-items: center;
  gap: .75rem;
  color: var(--text-black);
  text-decoration: none;
  padding: .625rem;
  border-radius: .375rem;
  transition: background 0.3s;
  color: var(--text-blue);
}

.menuItem:hover {
  background: var(--text-blue);
  color: var(--text-white);
}

.menuItemText {
  font-size: 14px;
}

.logoutSection {
  margin-top: auto;
  margin-bottom: .625rem;
}