/* Main layout */
.mainWrapper {
  width: 100%;
}

.cardContainer {
  width: 100%;
  border-radius: 16px;
  border: 1px solid #e5e7eb;
  overflow: hidden;
}

/* Header */
.header {
  background: var(--bg-blue);
  padding: 16px;
  text-align: center;
  font-size: 1.25rem;
  font-weight: bold;
  color: #1f2937;
  border-bottom: 2px solid #c7d2fe;
}

/* Table */
.table {
  width: 100%;
  border-collapse: collapse;
}

/* Headings */
.th {
  padding: 12px;
  font-size: 0.9rem;
  font-weight: bold;
  color: var(--text-blue);
  text-transform: uppercase;
  border-right: 1px solid #e5e7eb;
  border-bottom: 1px solid #e5e7eb;

}

.sno {
  width: 10%;
  text-align: center;
}

.subject {
  width: 35%;
  text-align: left;
}

.code {
  width: 20%;
  text-align: center;
}

.date {
  width: 35%;
  text-align: center;
}

/* .row {
  transition: background 0.2s ease;
}

.row:hover {
  background: rgba(238, 242, 255, 0.4);
} */

/* Cell styles */
.tdCenter,
.tdLeft {
  padding: 12px;
  font-size: 0.9rem;
  border-right: 1px solid #e5e7eb;
  color: #374151;
  white-space: nowrap;
}

.tdCenter {
  text-align: center;
}

.tdLeft {
  text-align: left;
}

/* Date formatting */
.dateBold {
  font-weight: 600;
  color: #1f2937;
}

.dateSub {
  font-size: 0.7rem;
  color: #6b7280;
}