.cardContainer {
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  border: 1px solid #e0e0e0;
  margin-bottom: 20px;
  font-family: "Inter", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  background: var(--bg-blue);
  padding: 10px;
  border-radius: 20px 20px 0 0;
}

.contentContainer {
  padding: 20px;
}

.questionNumberGroup {
  display: flex;
  align-items: center;
  gap: 15px;
}

.qNumberText {
  font-weight: 700;
  font-size: 16px;
  color: #333;
}

.scoreText {
  font-weight: 700;
  font-size: 16px;
  color: #333;
}

.actionButtonsGroup {
  display: flex;
  gap: 12px;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  justify-content: end;
}

/* Buttons */
.actionButton {
  border-radius: 50px !important;
  color: white !important;
  text-transform: none !important;
  font-weight: 600 !important;
  font-size: 14px !important;
  padding: 6px 20px !important;
  box-shadow: none !important;
  transition: filter 0.2s ease !important;
  white-space: nowrap !important;
  line-height: 1.5 !important;
}

.actionButton:hover {
  box-shadow: none !important;
  filter: brightness(0.95);
}

.feedbackButton {
  background: linear-gradient(90deg, #ff6b6b 0%, #ffa500 100%) !important;
  display: none !important;
}

.reEvaluateButton {
  background: linear-gradient(90deg, #3b82f6 0%, #2757e6 100%) !important;
}

/* Text/Content */
.questionTitle {
  font-weight: 600;
  font-size: 18px;
  color: #111;
  margin-bottom: 8px;
}

.pageNumber {
  font-size: 12px;
  color: #666;
  margin-bottom: 15px;
}

.answerBox {
  padding: 18px 20px;
  border-top: 1px solid #ddd;
}

.answerText {
  white-space: pre-line;
  font-family: "Caveat", cursive;
  font-size: 28px;
  line-height: 1.4;
  color: var(--text-blue);
}

.reeveluationStatus {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon {
  width: 10%;
}

.applied {
  color: var(--text-blue);
  font-weight: 600;
  font-size: 12px;
}

.rejected {
  color: var(--text-red);
  font-weight: 600;
  font-size: 12px;
}

.approved {
  color: var(--text-green);
  font-weight: 600;
  font-size: 12px;
}
.infoIcon{
  color: var(--text-green);
}
.scoreValue{
  display: flex;
  align-items: center;
  gap: 5px;
}