.container {
  width: 100%;
}

.marklistcard {
  background: white;
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  padding-bottom: 10px;
  border: 1px solid var(--border-blue);
}

.title {
  width: 100%;
  text-align: center;
  background: var(--bg-blue);
  padding: 20px;
  border-radius: 20px 20px 0 0;
}
/* 
.cardContent {
  display: flex;
  gap: 20px;
  padding: 16px;
  align-items: center;
}

.profile img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.infoBlock {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  font-weight: 600;
} */

/* ---------- TABLE STYLING ---------- */

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 10px;
}

/* vertical lines only */
.table th,
.table td {
  border-right: 1px solid #ccc;
}

/* remove last column border */
.table th:last-child,
.table td:last-child {
  border-right: none;
}

/* remove horizontal lines */
.table tr {
  border-bottom: 0;
  font-size: 14px;
}

.tableSheetView {
  display: flex;
  align-items: center;
  color: var(--text-blue);
  cursor: pointer;
}

.sheetIcon {
  font-size: 14px;
}